.vs/
bin/
obj/
packages/
_AbsoluteCurrencyStrength.Indicator.CS
_BollingerBand.Strategy.CS
_BollingerBand2.Strategy.CS
_Chart_ToolBar_Example_.Indicator.CS
_ChartToolBar_Trading_.Strategy.CS
_DblTopBottom.Strategy.CS
_EMA.Indicator.CS
_FixSymbols.Indicator.CS
_Historical_Entry.Strategy.CS
_LongTermStrategy1.Strategy.CS
_MA_Bar.Strategy.CS
_MA_Month.Strategy.CS
_Market_Depth_on_Chart_.Indicator.CS
_Market_Depth_on_Chart_2_.Indicator.CS
_MIFT_RSI.Indicator.CS
_MIFT_UltOsc.Indicator.CS
_Momentum.Indicator.CS
_PAMTF1.Strategy.CS
_PAMTF2.Strategy.CS
_Percent_Exit_Pair.Strategy.CS
_PercentChangeOverTime.Indicator.CS
_PinBar.Strategy.CS
_Portfolio_Ranking.Strategy.CS
_Renko1.Strategy.CS
_Renko2.Strategy.CS
_RenkoPriceChannels.Indicator.CS
_RSItoMarket.Indicator.CS
_ScalpingForex1.Strategy.CS
_ScalpingForex5.Strategy.CS
_ShortTermForex1.Strategy.CS
_Test1.Indicator.CS
_Test1.Strategy.CS
_Test1_LE.Strategy.CS
_Test1_LX.Strategy.CS
_Test10.Strategy.CS
_test2.Indicator.CS
_Test2_LE.Strategy.CS
_Test2_LX.Strategy.CS
_test3.Indicator.CS
_Test3.Strategy.CS
_Test4.Strategy.CS
_Test6.Strategy.CS
_Test7.Strategy.CS
_Test8.Strategy.CS
_Test9.Strategy.CS
_TPO_.Indicator.CS
_TQQQ1.Strategy.CS
_VIX1.Strategy.CS
Absolute_Breadth.Indicator.CS
Accum_Dist__BuyPr.Indicator.CS
Accum_Dist__PrVol.Indicator.CS
Accum_Swing_Index.Indicator.CS
AdvanceDecl_Line.Indicator.CS
AdvanceDecl_Ratio.Indicator.CS
ADX.Indicator.CS
ADXR.Indicator.CS
Arms_Index_TRIN.Indicator.CS
ATR_Trailing_LX.Strategy.CS
ATR_Trailing_SX.Strategy.CS
ATR_Trgt_And_Trail_LX.Strategy.CS
ATR_Trgt_And_Trail_SX.Strategy.CS
Average_True_Range.Indicator.CS
Avg_Close_Greater_Avg_Open.Indicator.CS
Avg_Close_Less_Avg_Open.Indicator.CS
AwesomeOscillator.Function.CS
Bid_And_Ask.Indicator.CS
Bid_And_Ask_Vol_Ratio.Indicator.CS
Block_Trades_per_Bar.Indicator.CS
Bollinger_Bands.Indicator.CS
Bollinger_Bands_Area.Indicator.CS
Bollinger_Bands_LE.Strategy.CS
Bollinger_Bands_SE.Strategy.CS
Breakeven_Stop.Strategy.CS
Brkout_of_X_Bar_High.Indicator.CS
Brkout_of_X_Bar_Low.Indicator.CS
C_3WhSolds_3BlkCrows.Indicator.CS
C_BullEng_BearEng.Indicator.CS
C_BullHar_BearHar.Indicator.CS
C_Doji.Indicator.CS
C_Hammer_HangingMan.Indicator.CS
C_MornDoji_EveDoji.Indicator.CS
C_MornStar_EveStar.Indicator.CS
C_PierceLine_DkCloud.Indicator.CS
C_ShootingStar.Indicator.CS
CCI_Average.Indicator.CS
Chaikin_Osc.Indicator.CS
Channel_Breakout_LE.Strategy.CS
Channel_Breakout_SE.Strategy.CS
Channel_Trailing_LX.Strategy.CS
Channel_Trailing_SX.Strategy.CS
Chaos_AC_Oscillator.Indicator.CS
Chaos_Alligator.Indicator.CS
Chaos_Awesome_Oscillator.Indicator.CS
Chaos_Fractals.Indicator.CS
Chaos_Gator.Indicator.CS
Close_at_End_of_Day.Strategy.CS
Comm_Channel_Index.Indicator.CS
Comm_Sel_Index.Indicator.CS
Consecutive_Downs.Indicator.CS
Consecutive_Ups.Indicator.CS
Consecutive_Ups_Downs.Strategy.CS
Correlation.Indicator.CS
Count_Criteria_PB.Indicator.CS
Count_Criteria_SM.Indicator.CS
Crossovers_per_Bar.Indicator.CS
Crossunders_per_Bar.Indicator.CS
Cust_Gradient_Bnd.Indicator.CS
Cust_Gradient_Unbnd.Indicator.CS
Custom_PaintBar.Indicator.CS
Custom_ShowMe.Indicator.CS
Custom_Strategy_LE.Strategy.CS
Custom_Strategy_LX.Strategy.CS
Custom_Strategy_SE.Strategy.CS
Custom_Strategy_SX.Strategy.CS
Day_of_Week.Indicator.CS
Day_OpenHiLo_Lines.Indicator.CS
Day_OpenHiLo_RT.Indicator.CS
Detrended_Price_Osc.Indicator.CS
DMI.Indicator.CS
Dollar_Trailing.Strategy.CS
Ease_of_Movement.Indicator.CS
EntryBar__Stop_LX.Strategy.CS
EntryBar__Stop_SX.Strategy.CS
EntryBar_ATR_Stop_LX.Strategy.CS
EntryBar_ATR_Stop_SX.Strategy.CS
EntryBar_Pnt_Stop_LX.Strategy.CS
EntryBar_Pnt_Stop_SX.Strategy.CS
Expiration.Indicator.CS
First_Bar_of_Day.Indicator.CS
First_Bar_of_Month.Indicator.CS
First_Bar_of_Week.Indicator.CS
First_Bar_of_Year.Indicator.CS
Floating_Text.Indicator.CS
Floor_Trader_Pivots.Indicator.CS
Formula_OHLC.Indicator.CS
From_Broker_To_Strategy_MP_Synchronizer.Strategy.CS
From_Strategy_To_Broker_MP_Synchronizer.Strategy.CS
Gap_Dn_Bar.Indicator.CS
Gap_Down_SE.Strategy.CS
Gap_Up_Bar.Indicator.CS
Gap_Up_LE.Strategy.CS
Gapless_Bar_Chart.Indicator.CS
Head_And_Shoulders.Indicator.CS
HPI.Indicator.CS
Inside_Bar.Indicator.CS
Inside_Bar_LE.Strategy.CS
Inside_Bar_SE.Strategy.CS
Island_Reversal_Dn.Indicator.CS
Island_Reversal_Up.Indicator.CS
Keltner_Channel.Indicator.CS
Keltner_Channel_LE.Strategy.CS
Keltner_Channel_SE.Strategy.CS
Key_Reversal_Dn.Indicator.CS
Key_Reversal_LE.Strategy.CS
Key_Reversal_LX.Strategy.CS
Key_Reversal_SE.Strategy.CS
Key_Reversal_SX.Strategy.CS
Key_Reversal_Up.Indicator.CS
Linear_Reg_Curve.Indicator.CS
Linear_Reg_Line.Indicator.CS
MACD.Indicator.CS
MACD_Gradient.Indicator.CS
MACD_LE.Strategy.CS
MACD_SE.Strategy.CS
Market_Thrust.Indicator.CS
Marney_Range.Indicator.CS
Marney_Volume.Indicator.CS
Mass_Index.Indicator.CS
McClellan_Osc.Indicator.CS
Mkt_Facilitation_Idx.Indicator.CS
Momentum.Indicator.CS
Momentum_Decreasing.Indicator.CS
Momentum_Increasing.Indicator.CS
MomentumLE.Strategy.CS
MomentumSE.Strategy.CS
Money_Flow.Indicator.CS
MouseEventsExample.Indicator.CS
Mov_Avg_1_Line.Indicator.CS
Mov_Avg_2_Lines.Indicator.CS
Mov_Avg_3_Lines.Indicator.CS
Mov_Avg_Adaptive.Indicator.CS
Mov_Avg_Crossover.Indicator.CS
Mov_Avg_Envelopes.Indicator.CS
Mov_Avg_Exp_Ribbon.Indicator.CS
Mov_Avg_Exponential.Indicator.CS
Mov_Avg_Hull.Indicator.CS
Mov_Avg_Triangular.Indicator.CS
Mov_Avg_Weighted.Indicator.CS
MovAvg_Cross_LE.Strategy.CS
MovAvg_Cross_LX.Strategy.CS
MovAvg_Cross_SE.Strategy.CS
MovAvg_Cross_SX.Strategy.CS
MovAvg2Line_Cross_LE.Strategy.CS
MovAvg2Line_Cross_SE.Strategy.CS
MovAvg3Line_Cross_LE.Strategy.CS
MovAvg3Line_Cross_SE.Strategy.CS
NCT_UpDown_Bar.Indicator.CS
New_High_for_Chart.Indicator.CS
New_High_for_Day.Indicator.CS
New_High_for_Month.Indicator.CS
New_High_for_Week.Indicator.CS
New_High_for_Year.Indicator.CS
New_Intraday_HiLo.Indicator.CS
New_Low_for_Chart.Indicator.CS
New_Low_for_Day.Indicator.CS
New_Low_for_Month.Indicator.CS
New_Low_for_Week.Indicator.CS
New_Low_for_Year.Indicator.CS
New_NDay_HiLo.Indicator.CS
Next_3rd_Friday.Indicator.CS
OHLC_Yesterday.Indicator.CS
On_Balance_Volume.Indicator.CS
Open_Interest.Indicator.CS
Optimize_by_Sharpe_ratio.Strategy.CS
Outside_Bar.Indicator.CS
Outside_Bar_LE.Strategy.CS
Outside_Bar_SE.Strategy.CS
packages.config
Parabolic_LE.Strategy.CS
Parabolic_m_Trail_LX.Strategy.CS
Parabolic_m_Trail_SX.Strategy.CS
Parabolic_SAR.Indicator.CS
Parabolic_SE.Strategy.CS
Pennant_Brkout.Indicator.CS
Percent_Decrease.Indicator.CS
Percent_Increase.Indicator.CS
Percent_Stop_LX.Strategy.CS
Percent_Stop_SX.Strategy.CS
Percent_Trailing.Strategy.CS
PercentChg.Indicator.CS
Percentile.Function.CS
PercentR.Indicator.CS
PercentR_LE.Strategy.CS
PercentR_SE.Strategy.CS
Pivot_Extension_LE.Strategy.CS
Pivot_Extension_SE.Strategy.CS
Pivot_High.Indicator.CS
Pivot_Low.Indicator.CS
Pivot_Rev_Gen__Dn.Indicator.CS
Pivot_Rev_Gen__Up.Indicator.CS
Pivot_Reversal_LE.Strategy.CS
Pivot_Reversal_SE.Strategy.CS
PLStudies.csproj
PLStudies.sln
PLStudies2010.csproj.user
PLStudies2010_Express.sln
PLStudiesPY.csproj
PLStudiesVB.vbproj
Portfolio_Dynamic_Position_MM.Strategy.CS
Portfolio_Rank_MM.Strategy.CS
Portfolio_Rank_Signal_Base.Strategy.CS
Portfolio_Rotation.Strategy.CS
Portfolio_Rotation_MM.Strategy.CS
Portfolio_SpreadTradingSystem_Master.Strategy.CS
Portfolio_SpreadTradingSystem_Slave.Strategy.CS
Price_Channel.Indicator.CS
Price_Channel_LE.Strategy.CS
Price_Channel_SE.Strategy.CS
Price_Greate_Avg.Indicator.CS
Price_Greater_Avg.Indicator.CS
Price_Less_Avg.Indicator.CS
Price_Osc.Indicator.CS
Price_Reversal.Indicator.CS
Price_Volume_Trend.Indicator.CS
Profit_Target.Strategy.CS
Profitable_Closes_LX.Strategy.CS
Profitable_Closes_SX.Strategy.CS
Rate_of_Chg.Indicator.CS
RelativeStrength.Indicator.CS
RSI.Indicator.CS
RSI_LE.Strategy.CS
RSI_SE.Strategy.CS
Sample_Volume_Osc.Indicator.CS
Spread__Diff.Indicator.CS
Spread__Ratio.Indicator.CS
Standard_Error_Bands.Indicator.CS
Stochastic_Fast.Indicator.CS
Stochastic_Slow.Indicator.CS
Stochastic_Slow_LE.Strategy.CS
Stochastic_Slow_SE.Strategy.CS
Stochastic_SlowK.Indicator.CS
Stop_Loss.Strategy.CS
Swing_Index.Indicator.CS
Time_Series_Forecast.Indicator.CS
TimeExit_Bars_LX.Strategy.CS
TimeExit_Bars_SX.Strategy.CS
TimeExit_Calndr_LX.Strategy.CS
TimeExit_Calndr_SX.Strategy.CS
Trendline_LE.Strategy.CS
Trendline_SE.Strategy.CS
TrendLines_Automatic.Indicator.CS
TRIX.Indicator.CS
Typical_Price.Indicator.CS
Ulcer_Index.Indicator.CS
Ultimate_Osc.Indicator.CS
Volatility.Indicator.CS
Volatility_Std_Dev.Indicator.CS
Volatility_Trend.Indicator.CS
Volty_Expan_Close_LE.Strategy.CS
Volty_Expan_Close_LX.Strategy.CS
Volty_Expan_Close_SE.Strategy.CS
Volty_Expan_Close_SX.Strategy.CS
Volty_Expan_Open_LE.Strategy.CS
Volty_Expan_Open_SE.Strategy.CS
Volume.Indicator.CS
Volume_Avg.Indicator.CS
Volume_Brkout.Indicator.CS
Volume_Dn.Indicator.CS
Volume_Gradient.Indicator.CS
Volume_Osc.Indicator.CS
Volume_Rate_of_Chg.Indicator.CS
Volume_Ratio.Indicator.CS
Volume_Up.Indicator.CS
Voss.Function.CS
VWAP_reset.Indicator.CS
Weighted_Close.Indicator.CS
ZigZag_Pcnt.Indicator.CS
ZigZag_Percent.Indicator.CS
ZigZag_Pnts.Indicator.CS
